{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('contact_index') }}">List contact</a>
    <a href="{{ path('contact_create') }}">Add contact</a>
    <a href="{{ path('contact_edit', { id: 1 }) }}">Edit contact</a>

    {% include 'contact/contactForm.html.twig' %}

{% endblock %}
